<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">

<div layout:fragment="content" class="container">
    <h1 class="text-center p-3 mb-2 bg-secondary text-white">Login</h1>
    <form action="#" th:action="@{/login}" method="POST">
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">


        <Body BACKGROUND="https://data.1freewallpapers.com/download/moon-clouds-evening-sky-1600x1200.jpg"></Body>
        <div class="form-group">
            <label for="inputId">Id</label>
            <input type="input" class="form-control" name="id" id="inputId">
        </div>

        <div class="form-group">
            <label for="inputPin">Pin</label>
            <input type="password" class="form-control" name="pin" id="inputPin">
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary">
        </div>
    </form>
</div>
